

<section class="explore">
	<div class="container">
		<h2>Explore active ducks.</h2>
	</div>
</section>

<section class="tabs">
	<div class="container">	
		<div class="row">
			<div class="col-xs-6 tab maptab">
				<h3>Map</h3>
			</div>
			<div class="col-xs-6 tab feedtab">
				<h3>Feed<h3>
			</div>
		</div>
	</div>
</section>

<section class="rendersection">
	<div class="container">
		<form>
			<label for="duck">Filter by duck:</label>
			<input id="duck" name="duck" type="text" class="mac"/>
		</form>
	</div>
</section>

