<!-- Section 1: concept and CTA -->

<div class="container">
	<h1>Globe trotting duckies.<br>Bringing people together.</h1>
</div>

<!-- Section 2: Active ducks -->


<!-- Section 3: The team -->


<!-- Section 4: Urbian info -->

